# Test caches
*.py[cod]
.coverage*
coverage.xml
htmlcov/
.pytest_cache/
.tox/
tests/images/
tests/userdata/addon_data/

# Backups
*.py.old

# Logs
kodi-addon-checker-report.log
kodi-addon-checker.log

# IDE Workspaces
.idea/
.vscode/settings.json
GPATH
GRTAGS
NppGTags.cfg
GTAGS
