[MESSAGES CONTROL]
disable=
    bad-option-value,
    duplicate-code,
    consider-using-f-string,
    fixme,
    import-outside-toplevel,
    line-too-long,
    missing-docstring,
    useless-super-delegation,
    useless-object-inheritance,
    super-on-old-class,
    super-with-arguments,
    too-many-instance-attributes
    
