name: CI
on:
- pull_request
- push
jobs:
  tests:
    name: Add-on testing
    runs-on: ubuntu-latest
    env:
      PYTHONIOENCODING: utf-8
      PYTHONPATH: ${{ github.workspace }}/resources/lib:${{ github.workspace }}/tests
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 2.7, 3.5, 3.6, 3.7, 3.8, 3.9 ]
    steps:
    - name: Check out ${{ github.sha }} from repository ${{ github.repository }}
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install gettext
        sudo pip install coverage --install-option="--install-scripts=/usr/bin"
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tox
      run: python -m tox -q -e flake8,py
      if: always()
    - name: Run pylint
      run: python -m pylint resources/lib/ tests/
      if: always()
    - name: Compare translations
      run: make check-translations
      if: always()
    - name: Run unit tests
      run: coverage run -m unittest discover
      if: always()
    - name: Run script entry
      run: coverage run -a resources/lib/script_entry.py
      if: always()
    - name: Run service entry
      run: coverage run -a resources/lib/service_entry.py &
      if: always()
    - name: Upload code coverage to CodeCov
      uses: codecov/codecov-action@v1
      continue-on-error: true
    - name: Analyze with SonarCloud
      uses: SonarSource/sonarcloud-github-action@v1.4
      with:
        args: >
          -Dsonar.organization=moojmidge
          -Dsonar.projectKey=MoojMidge_service.upnext
          -Dsonar.sources=resources/lib/
          -Dsonar.tests=tests/
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      continue-on-error: true
